# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Rye?
pyproject.toml
requirements-dev.lock
requirements.lock

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# vs code
.vscode/

2019/009_python_subprocess/bin/*
2019/001_make_3dlut/**/*.tif
2019/005_make_animation_using_matplotlib/*.mp4
2019/007_Pixel_3a_low_level_checker/out_img/**
2019/008_necessity_shaper_lut/src_img/*.exr
2019/008_necessity_shaper_lut/luts/*.spi3d
2019/008_necessity_shaper_lut/luts/*.spi1d
2019/008_necessity_shaper_lut/**/*.tiff
2019/008_necessity_shaper_lut/**/*.tif
2019/008_necessity_shaper_lut/**/*.png
2019/010_hdr_to_sdr_on_youtube/sequence/**
2019/010_hdr_to_sdr_on_youtube/base_frame/**
2019/010_hdr_to_sdr_on_youtube/after_frame/**
2019/010_hdr_to_sdr_on_youtube/bin/**
2019/010_hdr_to_sdr_on_youtube/**/*.cube
2019/010_hdr_to_sdr_on_youtube/**/*.mkv
2019/011_hdr_to_sdr_tonemapping/blog_img/bak.zip
2019/011_hdr_to_sdr_tonemapping/img/img.zip
2019/012_colour_v0.3.14_check/img/**
2019/014_3dlut_using_colour_science/img/img.zip
2019/016_cielab_color_space/ab_plane_seq/*.png
2019/016_cielab_color_space/xy_plane_seq/*.png
2019/016_cielab_color_space/formula_seq/*.png
2019/016_cielab_color_space/xyY_color_volume_seq/*.png
2019/016_cielab_color_space/xy_plane_seq_concat/*.png
2019/016_cielab_color_space/Lab_color_volume_seq/*.png
2019/016_cielab_color_space/blog_img/*.mp4
2019/016_cielab_color_space/**/*.npy
2020/001_x9500_abl_tm_characteristic/img/*.tiff
2020/002_wrgbmyc_checker_and_moving_peak_white/img/*.tiff
2020/003_make_moving_ball_class/img/*.png
2020/003_make_moving_ball_class/img_with_bg_image/*.png
2020/003_make_moving_ball_class/**/*.mov
2020/004_make_bright_point_pattern/img/*.tiff
2020/005_make_countdown_movie/**/*.tiff
2020/005_make_countdown_movie/**/*.png
2020/006_make_sound_file/**/*.wav
2020/006_make_sound_file/**/*.aac
**/*.ttf
**/*.otf
2020/009_add_bt709_color_space_to_research_cielab_py/ab_plane_seq/*.png
2020/010_tp_for_backlight_block_number/sequence/*.png
2020/011_make_reverse_checkerboard/sequence/*.tiff
2020/014_make_moving_background/bg_image_seq/*.png
2020/015_research_aces_ot/ctl/**/*
2020/012_interpolation_of_cielab_boundary_data/video_src/*.png
2020/020_explain_BT2407/ab_plane_seq/*.png
2020/020_explain_BT2407/cl_plane_seq/*.png
2020/020_explain_BT2407/video_src/*.png
2020/020_explain_BT2407/luts/*.npy
2020/021_chroma_colormap/luts/*.npy
2020/021_chroma_colormap/3DLUT/**
2020/022_bt2446_method_c/luts/**
2020/022_bt2446_method_c/img/**
2020/022_bt2446_method_c/figures/**
2020/022_bt2446_method_c/BT2446_BT2407_HDR10_to_SDR_3DLUT/**
2020/022_bt2446_method_c/blog_videos/**
2020/022_bt2446_method_c/blog_img/**
2020/022_bt2446_method_c/3DLUT/**
2020/024_jupyterlab/lut/**
2020/025_analyze_chrosstalk_matrix/**/*.npy
2020/026_create_icc_profiles/**/*.npy
2020/999_sample_icc/**
2020/032_check_youtube_music/audio/*.wav
2021/02_8bit_10bit_pattern_retry/img/**.png
2021/03_investigate_avif/captured_video/*.mp4
2021/06_improve_youtube_3dlut/luts/*.npy
2021/06_improve_youtube_3dlut/apng/**/*.png
2021/06_improve_youtube_3dlut/3DLUT/*.cube
2021/09_gamut_boundary_lut/lut/*.npy
2021/11_hue_chroma_pattern_using_jzazbz/lut/*.npy
2021/14_optical_illusion/lut/*.npy
2021/15_2-pass_gamut_boundary/lut/*.npy
2021/15_2-pass_gamut_boundary/test_pattern_output/*.png
temporary/**/**
2021/16_testpattern_for_iphone13_pro/img/*.png
2021/16_testpattern_for_iphone13_pro/lut
2021/17_DaVinci_Resolve_CMS_Characteristics/img_chara/*.png
2022/01_OCIO_V2_sample/luts/*.cube
2022/01_OCIO_V2_sample/tp_src/*.mov

.gitconfig
.bash_history
.local/**
.vscode-server/**
~/.pyenv/plugins/pyenv-update/
2020/005_make_countdown_movie/ffmpeg.exe
2022/02_create_tp_for_peace/graph/*.png
2022/02_create_tp_for_peace/src_img/*.png
2022/05_write_read_speed/img_tmp/*.png
2022/05_write_read_speed/img_tmp/*.tif
2022/06_interlaced_display/videos/*.mp4
2022/06_interlaced_display/videos/*.mov
2022/07_observer_metamerism/img_measure_patch/*.png
2022/07_observer_metamerism/debug/*.png
2022/07_observer_metamerism/shoot_data/**

2022/08_motion_blur_pattern_rev2/debug/**

2022/09_create_mhc_icc_profile/debug/**
2022/09_create_mhc_icc_profile/lut/**

2023/01_create_ocio_config_for_PS_AF/AfterEffects/**
2023/01_create_ocio_config_for_PS_AF/**/*.cube
2023/01_create_ocio_config_for_PS_AF/**/*.spi1d
2023/01_create_ocio_config_for_PS_AF/**/*.bkp
*.spi1d
*.spi3d
*.cube
2023/05_gamut_map_effect/lut
2023/05_gamut_map_effect/lut
2023/05_gamut_map_effect/color_map_lut.npy
2023/05_gamut_map_effect/debug/**
2023/06_Investigate_PS5/**/*.webm
2023/06_Investigate_PS5/**/*.mp4
2023/11_Study_Apple_Log/secret/*.exr
2023/11_Study_Apple_Log/secret/*.npy
2023/11_Study_Apple_Log/lut/*.cube
2023/10_Study_Gain_Map_HDR/gain_map/*.png
2023/10_Study_Gain_Map_HDR/gain_map/*.npy
2023/10_Study_Gain_Map_HDR/img/org_tp/*.png
2023/10_Study_Gain_Map_HDR/debug/*.png
2023/10_Study_Gain_Map_HDR/debug/*.avif
2024/01_Fusion_Color_Management/Official_PDF/*.pdf
*.DS_Store
2024/03_Measure_Moitor_Spec_with_Resolve/tp_img/*.png
2024/03_Measure_Moitor_Spec_with_Resolve/img_cctp/*.png
