# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# vs code
.vscode/

2019/009_python_subprocess/bin/*
2019/001_make_3dlut/**/*.tif
2019/005_make_animation_using_matplotlib/*.mp4
2019/007_Pixel_3a_low_level_checker/out_img/**
2019/008_necessity_shaper_lut/src_img/*.exr
2019/008_necessity_shaper_lut/luts/*.spi3d
2019/008_necessity_shaper_lut/luts/*.spi1d
2019/008_necessity_shaper_lut/**/*.tiff
2019/008_necessity_shaper_lut/**/*.tif
2019/008_necessity_shaper_lut/**/*.png
2019/010_hdr_to_sdr_on_youtube/sequence/**
2019/010_hdr_to_sdr_on_youtube/base_frame/**
2019/010_hdr_to_sdr_on_youtube/after_frame/**
2019/010_hdr_to_sdr_on_youtube/bin/**
2019/010_hdr_to_sdr_on_youtube/**/*.cube
2019/010_hdr_to_sdr_on_youtube/**/*.mkv
2019/011_hdr_to_sdr_tonemapping/blog_img/bak.zip
2019/011_hdr_to_sdr_tonemapping/img/img.zip
2019/012_colour_v0.3.14_check/img/**
2019/014_3dlut_using_colour_science/img/img.zip
2019/016_cielab_color_space/ab_plane_seq/*.png
2019/016_cielab_color_space/xy_plane_seq/*.png
2019/016_cielab_color_space/formula_seq/*.png
2019/016_cielab_color_space/xyY_color_volume_seq/*.png
2019/016_cielab_color_space/xy_plane_seq_concat/*.png
2019/016_cielab_color_space/Lab_color_volume_seq/*.png
2019/016_cielab_color_space/blog_img/*.mp4
2019/016_cielab_color_space/**/*.npy
2020/001_x9500_abl_tm_characteristic/img/*.tiff
2020/002_wrgbmyc_checker_and_moving_peak_white/img/*.tiff
2020/003_make_moving_ball_class/img/*.png
2020/004_make_bright_point_pattern/img/*.tiff
