ocio_profile_version: 2

# Note: this is a sample for studying.

description: A sample config file for studying.
name: OCIOv2-ty_sample_rev00

# There are no external files.
search_path: 

# Improves performance? I don't know.
environment: {}

# Is this like a delimiter?
family_separator: /

# Roles, I'll add only default
roles:
  default: BT1886

# file_fules ... blank is OK?
rile_rules:

# viewing_rules ... blank is OK?
viewing_rules:

# Displays
displays:
  BT1886
    - !<Views> {name: Simple BT.1886 Display, view_transform: }

# virtual_display ... blank is OK?
virtual_display:

# default_view_transform
default_view_transform: Un-tone-mapped


# view transforms:
view_transforms:
  - !<ViewTransform>
    name: Un-tone-mapped