ocio_profile_version: 2

# Note: this is a sample for studying.

# History
#   Rev.00: New addition

description: A sample config file for studying.
name: OCIOv2-ty_sample_rev00

# There are no external files.
search_path: 

# Improves performance? I don't know.
environment: {}

# Is this like a delimiter?
family_separator: /

# Roles, I'll add only default
roles:
  default: BT1886
  scene_linear: ACEScg

# file_fules ... blank is OK?
file_rules:

# viewing_rules ... blank is OK?
viewing_rules:

# Displays
displays:
  BT1886:
    - !<View>
      name: Simple BT.1886 Display
      view_transform: Un-tone-mapped
      display_colorspace: BT1886

# virtual_display ... blank is OK?
virtual_display:

# default_view_transform
default_view_transform: Un-tone-mapped


# view transforms:
view_transforms:
  - !<ViewTransform>
    name: Un-tone-mapped
    description: |
      Convert the scene colorimetry directly to display-referred with no tone-mapping.
    from_scene_reference: !<BuiltinTransform> {style: "UTILITY - ACES-AP0_to_CIE-XYZ-D65_BFD"}

# display colorspaces
display_colorspaces:
  - !<ColorSpace>
    name: BT1886
    family: Displays/SDR
    description: |
      Gamut: BT.709, EOTF: Gamma 2.4
    isdata: false
    categories: [ file-io ]
    encoding: sdr-video
    from_display_reference: !<BuiltinTransform> {style: "DISPLAY - CIE-XYZ-D65_to_REC.1886-REC.709"}

# colorspaces
colorspaces:
  - !<ColorSpace>
    name: ACEScg
    family: ACES
    description: |
      ACEScg working space
    isdata: false
    categories: [ file-io, working-space ]
    encoding: scene-linear
    to_scene_reference: !<MatrixTransform> {matrix: [ 0.695452241357, 0.140678696470, 0.163869062172, 0, 0.044794563372, 0.859671118456, 0.095534318172, 0, -0.005525882558, 0.004025210306, 1.001500672252, 0, 0, 0, 0, 1 ]}

  - !<ColorSpace>
    name: ACES2065-1
    aliases: [ aces ]
    family: ACES
    description: |
      The Academy Color Encoding System reference color space
    isdata: false
    categories: [ file-io ]
    encoding: scene-linear

  - !<ColorSpace>
    name: Raw
    family: Data
    description: |
      Raw (no color processing)
    isdata: true
    categories: [ file-io ]
    encoding: data

  - !<ColorSpace>
    name: Sony SLog3 / SGamut3
    family: Cameras/Sony
    description: |
      Sony SLog3 / SGamut3
    isdata: false
    categories: [ file-io ]
    encoding: log
    to_scene_reference: !<BuiltinTransform> {style: "SONY_SLOG3-SGAMUT3_to_ACES2065-1"}
